
.App{
    color:floralwhite;
    justify-content: center;
    background-color:black;
    border: 15px solid floralwhite;
    display: grid;
    /* padding:100px; */
    margin-top:70px;
    margin-bottom: 70px;
    margin-left: 400px;
    margin-right: 300px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }  
  .div1 
  { grid-area: 2 / 3 / 5 / 5; };


  .box {
    border-radius: 25px;
    background: #12140e;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px 49px 5px rgba(0,0,0,0.68);
  }
